/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2021, 10:08:05 PM
    Author     : Admin
*/

body {
    padding-left: 7%;
}

table.welcome-user {
    text-align: center;
    margin: 0px 0px 0px 130px;
}

table.table-title {
    margin-left: 270px;
}

.header {
    padding-left: 15%;
}

.paging {
    padding-left: 15%;
}

.notfound-item {
    margin: 5% 0px 0px 28%;
    position: absolute;
    top: 100px;
    font-style: italic;
    font-weight: bold;
}

.paging table {
    margin-left: 25%;
    margin-top: 2%;
}

.view-cart {
    position: absolute;
    top: 32%;
    right: 15%;
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

font.status-rent {
    position: absolute;
    top: 245px;
    right: 600px;
}